

<nav>
    <input type="checkbox" id="hamburger" name="hamburger">
    <label for="hamburger" class="icon-menu"></label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</nav>