<form method="POST" action="/new/submit">
    <label for="title">Title <span class="form-error-message">255 character limit</span></label>
    <input type="text" id="title" name="title" placeholder="Title" />
    <label for="author">Author <span class="form-error-message">255 character limit</span></label>
    <input type="text" id="author" name="author" placeholder="Author" />
    <label for="isbn">ISBN <span class="form-error-message">Please enter a valid ISBN</span></label>
    <input type="text" id="isbn" name="isbn" placeholder="ISBN" />
    <label for="image_url">Cover Image URL <span class="form-error-message">Please enter a valid URL</span></label>
    <input type="text" id="image_url" name="image_url" placeholder="Cover Image URL">
    <label for="book_description">Book Description (1000 words max) <span class="form-error-message">1000 word limit</span></label>
    <textarea name="book_description" id="book_description" cols="30" rows="10">Book Description</textarea>
    <span class="form-error-message">Please check fields</span>
    <input type="submit" value="Submit!" class="button">
</form>