Search stuff

<form action="/search/submit" method="post">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" >
    <label for="title">Title</label>
    <input type="text" name="title" id="title" >
    <fieldset>
        <legend>Search by...</legend>
        <label for="search-by">Author</label>
        <input type="radio" id="search-by-author" for="search-by">
        <label for="search-by-title">Title</label>
        <input type="radio" id="search-by-title" for="search-by">
    </fieldset>
</form>