<p>Enter your search query below, select whether you would like to search by title or author, and click "Submit". </p>
<form action="/search/submit" method="post">
    <label for="search-query">Search Query</label>
    <input type="text" name="search-query" id="search-query" required />
    <fieldset>
        <legend>Search by...</legend>
        <div>
            <input type="radio" id="search-by-author" name="search-by" required />
            <label for="search-by-author">Author</label>
        </div>
        <div>
            <input type="radio" id="search-by-title" name="search-by" />
            <label for="search-by-title">Title</label>
        </div>
    </fieldset>
    <input type="submit" value="Search" class="button">
</form>