/* site title, menu */

.site-title {
  background-color: black;
  color: white;
  font-size: 1.5em;
  padding: .5em .2em;
  overflow: hidden;
}

.site-title h1 {
  float: left;
}

nav {
  float: right;
}

.icon-menu.navigation {
  color: white;
  text-decoration: none;
}

/* page title */

.page-title {
  background-color: rgb(88, 88, 88);
  color: white;
  padding: .5em;
  text-align: center;
}

/* book cards */

.book-card {
  background: rgba(255, 255, 255, .5);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  padding: 1em;
  margin: 1em 0;
  text-align: center;
}

.book-card img {
  border: 5px solid white;
}

.book-card h1,
.book-card p {
  margin: .5em 0;
}

.book-card h1 {
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 3px rgba(0,0,0,.7);
}

.book-card .author {
  font-style: italic;
}

.book-card .button {
  background-color: black;
  border-radius: 2px;
  color: white;
  display: block;
  margin: 1em auto;
  padding: 1em 1.5em;
  text-decoration: none;
  width: fit-content;
}